.App {
  text-align: center;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: cornflowerblue;
}

.logo{
  margin-right: 1000px;
}
.App-body {
  background-color: white;
  height: 100vh;
  width: 100vw;
}
.App-link {
  color: #61dafb;
}
.App-footer{
}

